//- Created by 伟强 on 2015/3/14.
style.
  div.flickr {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
    margin: 3px;
    padding-top: 10px;
    text-align: center;
  }

  div.flickr a {
    border-right: #dedfde 1px solid;
    padding-right: 6px;
    background-position: 50% bottom;
    border-top: #dedfde 1px solid;
    padding-left: 6px;
    padding-bottom: 2px;
    border-left: #dedfde 1px solid;
    color: #0061de;
    margin-right: 3px;
    padding-top: 2px;
    border-bottom: #dedfde 1px solid;
    text-decoration: none
  }

  div.flickr a:hover {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #0061de
  }

  div.flickr a.ahover {
    border-right: #dedfde 1px solid;
    padding-right: 6px;
    background-position: 50% bottom;
    border-top: #dedfde 1px solid;
    padding-left: 6px;
    padding-bottom: 2px;
    border-left: #dedfde 1px solid;
    color: #0061de;
    margin-right: 3px;
    padding-top: 2px;
    border-bottom: #dedfde 1px solid;
    text-decoration: none;
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #0061de
  }

  div.meneame a:active {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    background-image: none;
    border-left: #000 1px solid;
    color: #fff;
    border-bottom: #000 1px solid;
    background-color: #0061de
  }
