//- Created by 伟强 on 2015/3/14.
script(src='/js/libs/AjaxUpload.js')
style.
  .upload-container {
    position: relative;
    height: 40px;
  }
  .upload-container span.upload-span {
    overflow: hidden;/*隐藏多的*/
    position: absolute;
  }

  .upload-container .upload-file {
    position: absolute;
    z-index: 100;
    margin-left: -120px;
    font-size: 22px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: -5px;
  }
  #uploadResult{margin-left: 70px;}
